RUNNER_SCOPE=repo
GITHUB_OWNER=your-github-username-or-org
GITHUB_REPO=backend-app-repo
GITHUB_PAT=replace-me-with-github-token
RUNNER_NAME=gha-runner-01
RUNNER_LABELS=jenkins-docker
EPHEMERAL=false
DISABLE_RUNNER_UPDATE=true
