RUNNER_SCOPE=repo
GITHUB_OWNER=Sangram-Rajpoot
GITHUB_REPO=backend-app-repo
GITHUB_PAT=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
RUNNER_NAME=gha-runner-01
RUNNER_LABELS=jenkins-docker
EPHEMERAL=false
DISABLE_RUNNER_UPDATE=false
